@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}
* {
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.hover-scale {
  transition: all 200ms;
}

.hover-scale:hover {
  transform: scale(1.01);
}

button {
  touch-action: manipulation;
}

.currentColor path {
  stroke-width: 1px;
  fill: currentColor;
  stroke: currentColor;
}

.currentColor:hover path {
  stroke: #2dd4bf;
}

.currentColor:hover {
  transition: transform 0.2s;
  transform: scale(1.1);
}

.thick-boi path {
  stroke-width: 17px;
  fill: currentColor;
  stroke: currentColor;
}

a > span.icon-link::before {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true' fill='%2314b8a6' %3E%3Cpath fillRule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z' /%3E%3C/svg%3E");
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  margin-top: 7px;
  margin-left: -22px;
}
