[data-delay-250] {
  animation-delay: 250ms !important;
}

[data-delay-500] {
  animation-delay: 500ms !important;
}

.slide-in {
  transform: translateY(0);
  animation: slide-in 0.4s cubic-bezier(0.48, 1.01, 0.67, 1) 0s forwards;
}

.fade-in {
  opacity: 0;
  animation: fade-in 0.4s ease-out 0s forwards;
}

@keyframes slide-in {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
